@use "../globals" as *;
@use "../parts/common" as *;

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  height: 80vh;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 1.9s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 61, 125, 0.1);
  }

  &-active {
    & > img {
      transform: none;
    }

    & .hero__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.hero {
  overflow: hidden;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: $cWhite;
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 22px;
    overflow: hidden;
  }
}

.hero-sub {
  padding-top: $navHeight-m;
  @include mq(lg) {
    padding-top: $navHeight;
  }
  &__inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
    }
  }
  &__titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__maintitle {
    font-size: 18px;
    text-align: center;
    @include mq(md) {
      font-size: 30px;
    }
    @include mq(lg) {
      font-size: 40px;
    }
    &.privacy {
      font-size: 16px;
      @include mq(md) {
        font-size: 30px;
      }
      @include mq(lg) {
        font-size: 45px;
      }
    }
  }
  &__subtitle {
    text-align: center;
    // color: $cMainColor2;
    font-weight: 500;
    font-size: 12px;
  }
  &__img {
    height: 25vh;
    @include mq(lg) {
      height: 40vh;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
